div table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  div table td, div table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  div table tr:nth-child(even){background-color: #f2f2f2;}
  
  div table tr:hover {background-color: #ddd;}
  
  div table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }